content/App_Config/Bob.config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.unic.com/Bob" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:all>
        <xs:element name="WebsiteCodeName" type="xs:string" minOccurs="0" />
        <xs:element name="LocalHostName" type="xs:string" minOccurs="0" />
        <xs:element name="WebFolderName" type="xs:string" minOccurs="0" />
        <xs:element name="GlobalWebPath" type="xs:string" minOccurs="0" />
        <xs:element name="AppPoolRuntime" type="xs:string" minOccurs="0" />
        <xs:element name="Protocol" type="xs:string" minOccurs="0" />
        <xs:element name="HostsFileComment" type="xs:string" minOccurs="0" />
        <xs:element name="SerializationReferenceTemplate" type="xs:string" minOccurs="0" />
        <xs:element name="SerializationReferenceXPath" type="xs:string" minOccurs="0" />
        <xs:element name="SerializationFolder" type="xs:string" minOccurs="0" />
        <xs:element name="SerializationReferenceFilePath" type="xs:string" minOccurs="0" />
        <xs:element name="DatabaseServer" type="xs:string" minOccurs="0" />
        <xs:element name="DatabaseBackupShare" type="xs:string" minOccurs="0" />
        <xs:element name="ConnectionStringsFolder" type="xs:string" minOccurs="0" />
        <xs:element name="ActiveRole" type="xs:string" minOccurs="0" />
        <xs:element name="KeepAppConfigIncludes" type="xs:string" minOccurs="0" />
        <xs:element name="MuckRecyleAppPool" type="xs:boolean" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>